@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Overpass:wght@100;200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Big Samurai';
  src: url('./assets/fonts/Big Samurai.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Overpass', sans-serif;
}

.navContent li {
  position: relative;
  cursor: pointer;
}

.navContent li::after {
  content: "";
  position: absolute;
  width: 100%;
  display: none;
  height: 4.2px;
  bottom: -15px;
  left: 0;
  background-color: #5faa41;
  transition: all 0.3s ease;
}

.navContent li:hover::after {
  display: block;
}

.faqSection::before {
  content: "";
  position: absolute;
  height: 7rem;
  background-image: url("./assets/images/divider-main-5.png");
  background-repeat: no-repeat;
  background-size: 100%;
  bottom: -1%;
  left: 0;
  right: 0;
}

.faqHeader::before{
  content:"";
  position: absolute;
  height:8rem;
  background-color: #ffffff;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50% 50% 0 0;
}

.otp-input {
  background-color: rgb(228, 228, 228);
  width: 5rem;
  height: 5rem;
  text-align: center;
  border: none;
  border-radius: 7px;
  caret-color: #5db094;
  outline: none;
  font-weight: 600;
  font-size: 1.6rem;
}


.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 33px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #007969;
}

input:focus + .slider {
  box-shadow: 0 0 1px #007969;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (max-width:767px) {
  .faqSection::before {
    background-image: url("./assets/images/divider-main-5-phone.png");
    background-position: bottom;
    background-size: 100%;
  }

}

@media (max-width:480px) {
  html {
    font-size: 58%;
  }
}


